<div class="container-fuid">
        <nav class="nav justify-content-end" style="background-color: rgba(151, 145, 145, 0.137);">
              
          <ul class="nav justify-content-end">
            <a class="nav-linkup" style="color: black" href="/">Home</a>
              <a class="nav-linkup" style="color: black" href="/Login">Iniciar Sesion</a>
              <a class="nav-linkup" style="color: black" href="/signup">Registrarse</a>
          </ul>
        </nav>
      </div> 